/*

.button etc - styles all the buttons
# style one thing - place id in main file..


     #FFFFFF - white
     #ffbf00 - orange in logo
     #00bfff - blue in logo


// test comment


*/

.root {
    -fx-background-color: #FFFFFF ;
}

.button {
    text-align: center;
}

.date-picker .text-field {
    -fx-font: 15px "Arial";
}



#manageBtnStyle
{

   -fx-font-family: "Arial Black", Gadget, sans-serif;
   -fx-font-size: 12pt;
    text-align: center;


}


#reserveBtnStyle
{
     -fx-font-family: "Arial Black", Gadget, sans-serif;
     -fx-font-size: 12pt;


}

#calendarIconStyle:hover{
    -fx-opacity: 0.5;
}

